<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSVModelExecution</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  {% load static %}
  {% block extrahead %}
  <link href="{% static 'main.css' %}" rel="stylesheet">
  {% endblock %}

</head>
<body>
<header>
  CSVによるモデル実行システム
</header>

<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="overview">
        <h2>ページ概要</h2>
        <div class="row">
          <div class="col-6">
            <p>アップロードされた複数のCSVデータより、モデルを構築・適用します。<br>
              モデルのアルゴリズムは下記より選択できます。
            <ul>
              <li>ロジスティック回帰</li>
              <li>ニューラルネットワーク</li>
              <li>ランダムフォレスト</li>
            </ul>
            適用結果はヒストグラムで表示されます。<br>
            また、適用結果をCSVダウンロードすることができます。
            </p>
            <div class="contents">
              <p>Contents</p>
              <ol>
                <a href="#t-upload">
                  <li>ファイルのアップロード</li>
                </a>
                <a href="#t-create">
                  <li>モデルの構築・適用</li>
                </a>
                <a href="#t-result">
                  <li>モデル適用結果</li>
                </a>
              </ol>
            </div>
          </div>
          <div class="algorithm-image img-fluid col-6">
        <div class="row">
          <div class="col-6">
            <img src="{% static 'logistic_reg.png' %}">
            <p>※ ロジスティック回帰 イメージ</p>
          </div>
          <div class="col-6">
            <img src="{% static 'neural_network.png' %}">
            <p>※ ニューラルネットワーク イメージ</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="margin-left: 15%;">
            <img src="{% static 'random_forest.png' %}"  style="width: 70%;">
            <p>※ ランダムフォレスト イメージ</p>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row" id="t-upload">
      <div class="col-12">
        <h3>1. ファイルのアップロード</h3>
        <div class="beginning">
          <p>下記枠内にて、ファイルの選択およびアップロードを実行します。<br>
            アップロードされたファイル名は「◎アップロード済みファイル」から確認することができます。
          </p>
        </div>
      </div>
      <div class="col-6">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="drop-zone" id="drop-zone">
            <p>ファイルをドラッグ＆ドロップもしくは</p>
            <input type="file" multiple="multiple" name="file" id="file-input">
            <input type="submit" id="btnUpload" value="UPLOAD" disabled="true">
          </div>
        </form>
      </div>
      <div class="col-6">
        <h5>アップロード済みファイル</h5>
        {% if file_list|length >= 1 %}
        {% for file in file_list %}
        <p>{{file}}</p>
        {% endfor %}
        <form method="post" action="insert" id="insert">
          {% csrf_token %}
          <p><input type="submit" value="DB登録"></p>
        </form>
        <form method="post" action="delete" id="delete">
          {% csrf_token %}
          <p><input type="submit" value="DBデータ削除"></p>
        </form>
        {% endif %}
      </div>
    </div>

    <div class="row" id="t-create">
      <div class="col-12">
        <h3>2. モデルの構築・適用</h3>
        <div class="beginning">
          <p>1.&emsp;にてアップロードされたデータをもとに、「予測対象」、「結合形式」、「説明変数」を設定しモデルの構築・適用を実行します。</p>
        </div>
      </div>
      {% if file_check %}
      <div class="col-12">
        <div class="warning">
          <p>モデル構築に必要なデータファイルをアップロードしてください</p>
        </div>
      </div>
      {% else %}
      <div class="col-12">
          <p style="font-weight: bold; font-size: large;">Attention</p>
          <ul>
            <li style="padding: 5px 0;">予測対象は「paid_flg」固定とします</li>
            <li style="padding: 5px 0;">結合形式でleft-joinを選択した場合、予測対象がNULLにならないよう「payment.csv」を軸として結合します</li>
            <li style="padding: 5px 0;">説明変数が「未選択」より後の並び順で選択された場合、並び順が繰り上げられて処理されます<br>
              例）1：「customer_id」、2：「domain」、3：「未選択」、4：「amount」・・・ <br>
              &emsp;→ 1：「customer_id」、2：「domain」、3：「amount」・・・
            </li>
          </ul>
        <p><span style="font-weight: bold;">予測対象　　：</span>「paid_flg」</p>
        <p><span style="font-weight: bold;">結合形式　　：</span><select name="combined-format" form="model_create">
          <option value="inner">inner_join</option>
          <option value="left">left_join</option>
        </select><br></p>

        <p><span style="font-weight: bold;">アルゴリズム：</span><select name="algorithm" form="model_create">
          <option value="logistic">logistic_regression</option>
          <option value="neural">neural_network</option>
          <option value="random">random_forest</option>
        </select>
        <p><span style="font-weight: bold;">説明変数：</span></p>
      </div>
      <div class="col-4">
        <table class="table-d">
          <tr>
            <th width="30%">並び順</th>
            <th width="70%">項目</th>
          </tr>
          {% for var in explanatory_variable_list %}
          {% if forloop.counter < 7 %}
          <tr>
            <td>
              {{ forloop.counter }}
            </td>
            <td>
              <div class="exp-var">
                <select name=array{{forloop.counter}} form="model_create" style="border: none; margin: 5px;">
                  {% if forloop.counter != 1 %}
                  <option value="未選択">未選択</option>
                  {% endif %}
                  {% for var in explanatory_variable_list %}
                  <option value={{var}}>{{var}}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>
      <div class="col-4">
        <table class="table-d">
          <tr>
            <th width="30%">並び順</th>
            <th width="70%">項目</th>
          </tr>
          {% for var in explanatory_variable_list %}
          {% if 7 <= forloop.counter and forloop.counter < 13 %}
          <tr>
            <td>
              {{ forloop.counter }}
            </td>
            <td>
              <div class="exp-var">
                <select name=array{{forloop.counter}} form="model_create" style="border: none; margin: 5px;">
                  {% if forloop.counter != 1 %}
                  <option value="未選択">未選択</option>
                  {% endif %}
                  {% for var in explanatory_variable_list %}
                  <option value={{var}}>{{var}}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>
      <div class="col-4">
        <table class="table-d">
          <tr>
            <th width="30%">並び順</th>
            <th width="70%">項目</th>
          </tr>
          {% for var in explanatory_variable_list %}
          {% if 13 <= forloop.counter %}
          <tr>
            <td>
              {{ forloop.counter }}
            </td>
            <td>
              <div class="exp-var">
                <select name=array{{forloop.counter}} form="model_create" style="border: none; margin: 5px;">
                  {% if forloop.counter != 1 %}
                  <option value="未選択">未選択</option>
                  {% endif %}
                  {% for var in explanatory_variable_list %}
                  <option value={{var}}>{{var}}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>

      <div class="col-12">
        <form method="post" style="margin-top: 20px;" action="model_create" id="model_create" name="model_create">
          {% csrf_token %}
          <p><input type="submit" value="構築・適用する"></p>
        </form>

        <p><input type="button" style="margin-top: 20px;" value="すべて選択する" onclick="clickAll()">
          <input type="button" style="margin-left: 20px;" value="選択をリセット" onclick="expVarReset()"></p>
      </div>

      {% endif %}
    </div>


    <div class="row" id="t-result">
      <div class="col-12">
        <h3>3. モデル適用結果</h3>
        <p>モデル適用結果を20分割されたヒストグラムにて表示します。<br>
          適用結果は「ダウンロード」ボタンをクリックすることでタウンロードすることができます。
        </p>
        {% if score_list_display|length < 1 %}
        <div class="warning">
          <p>モデルの構築・適用が完了するとヒストグラムが表示され、スコアをダウンロードすることができます</p>
        </div>
        {% else %}
        <div class="result-graph">
          <img src="{% url 'plot' %}" width=600 height=600>
          <p style="text-align: center;">auc：<span style="background: #FFFF66;">{{roc_auc}}</span></p>
        </div>
        <a href="{% static 'output/score.csv' %}" , class="download-btn">ダウンロード</a>

        <div class="preview">
          <table class="table-d" border=1>
            <caption>プレビュー</caption>
            <tr>
              <th>id</th>
              <th>スコア</th>
            </tr>
            {% for score_display in score_list_display %}
            <tr>
              <td>{{ forloop.counter0 }}</td>
              <td>{{score_display}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
</div>
<footer>
  <p>(c)copy right</p>
</footer>
</body>
</html>

<script type="text/javascript">

    var dropZone = document.getElementById('drop-zone');
    var fileInput = document.getElementById('file-input');

    dropZone.addEventListener('dragover', function(e) {
        e.stopPropagation();
        e.preventDefault();
        this.style.background = '#e1e7f0';
    }, false);

    dropZone.addEventListener('dragleave', function(e) {
        e.stopPropagation();
        e.preventDefault();
        this.style.background = '#ffffff';
    }, false);

    dropZone.addEventListener('drop', function(e) {
        e.stopPropagation();
        e.preventDefault();
        this.style.background = '#ffffff'; //背景色を白に戻す
        var files = e.dataTransfer.files; //ドロップしたファイルを取得
        fileInput.files = files; //inputのvalueをドラッグしたファイルに置き換える。
        selectFile();
    }, false);

    function selectFile() {
    console.log(fileInput.value)
        if (fileInput.value === "") {
          document.getElementById("btnUpload").disabled = true;
        }
        else {
          document.getElementById("btnUpload").disabled = false;
        }
    }

    function clickAll() {
    	document.model_create.array1.selectedIndex = 0;
    	document.model_create.array2.selectedIndex = 2;
    	document.model_create.array3.selectedIndex = 3;
    	document.model_create.array4.selectedIndex = 4;
    	document.model_create.array5.selectedIndex = 5;
    	document.model_create.array6.selectedIndex = 6;
    	document.model_create.array7.selectedIndex = 7;
    	document.model_create.array8.selectedIndex = 8;
    	document.model_create.array9.selectedIndex = 9;
    	document.model_create.array10.selectedIndex = 10;
    	document.model_create.array11.selectedIndex = 11;
    	document.model_create.array12.selectedIndex = 12;
    	document.model_create.array13.selectedIndex = 13;
    	document.model_create.array14.selectedIndex = 14;
    	document.model_create.array15.selectedIndex = 15;
    	document.model_create.array16.selectedIndex = 16;
    	document.model_create.array17.selectedIndex = 17;
    	document.model_create.array18.selectedIndex = 18;
    }

    $(".exp-var").on("change", function() {

        var selectedValues = [];
        $(".exp-var option:not([value='']):not([value='未選択']):selected").each(function() {
            var $opt = $(this);
            selectedValues.push($opt.val());
        });

        $(".exp-var option:not([value='']):not(:selected)").each(function() {
            var $opt = $(this);
            var val = $opt.val();

            // チェック対象のoptionのvalueが、selectedValuesに存在するものならdisabledにする
            // そうでないならdisabled解除
            if ($.inArray(val, selectedValues) >= 0 ) {
                $opt.hide();
            } else {
                $opt.show();
            }
        });
    });

    function expVarReset() {
    	document.model_create.reset();
    }















</script>