<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSVModelExecution</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  {% load static %}
  {% block extrahead %}
  <link href="{% static 'main.css' %}" rel="stylesheet">
  {% endblock %}

</head>
<body>
<header>
  CSVによるモデル実行システム
</header>

<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="overview">
        <h2>ページ概要</h2>
        <div class="row">
          <div class="col-6">
            <p>複数のCSVデータをアップロードし、アップロードされたデータを結合してロジスティック回帰モデルを構築・適用します。<br>
              適用されたデータのスコアは20分割されたヒストグラムとしてグラフに表示され、データスコアはCSVダウンロードすることが可能です。
            </p>
            <div class="contents">
              <p>Contents</p>
              <ol>
                <a href="#t-upload">
                  <li>ファイルのアップロード</li>
                </a>
                <a href="#t-join">
                  <li>結合データファイルの作成</li>
                </a>
                <a href="#t-create">
                  <li>モデルの構築・適用</li>
                </a>
                <a href="#t-result">
                  <li>モデル適用結果</li>
                </a>
              </ol>
            </div>
          </div>
          <div class="logistic-image img-fluid col-6">
            <img src="{% static 'logistic_reg.png' %}">
            <p>※ ロジスティック回帰 イメージ</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="t-upload">
      <div class="col-12">
        <h3>1. ファイルのアップロード</h3>
      </div>
      <div class="col-6">
        <p>下記枠内にて、ファイルの選択およびアップロードを実行します。<br>
          アップロードされたファイル名は「◎アップロード済みファイル」から確認することができます。
        </p>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="drop-zone" id="drop-zone">
            <p>ファイルをドラッグ＆ドロップもしくは</p>
            <input type="file" multiple="multiple" name="file" id="file-input">
            <input type="submit" id="btnUpload" value="UPLOAD" disabled="true">
          </div>
        </form>
      </div>
      <div class="col-6">
        <h5>アップロード済みファイル</h5>
        {% if file_list|length > 1 %}
        {% for file in file_list %}
        <p>{{file}}</p>
        {% endfor %}
        <form method="post" action="insert" id="insert">
          {% csrf_token %}
          <p><input type="submit" value="DB登録"></p>
        </form>
        <form method="post" action="delete" id="delete">
          {% csrf_token %}
          <p><input type="submit" value="DBデータ削除"></p>
        </form>
        {% endif %}
      </div>
    </div>

    <div class="row" id="t-join">
      <div class="col-12">
        <h3>2. 結合データファイルの作成</h3>
        {% if file_list|length < 2 %}
        <p class="warning">結合対象のファイルをアップデートしてください</p>
        {% endif %}
      </div>
      <div class="col-6">
        <p>「結合形式」と「出力項目の順序」を指定し、結合データファイルを作成します。<br>
          作成されたファイル名は「◎結合データの出力ファイル」から確認することができます。
        </p>
        <p style="font-weight: bold;">■ 結合形式の指定</p>
        <p>結合形式：<select name="join" form="join">
          <option value="inner-join">INNER JOIN</option>
          <option value="left-join">LEFT JOIN</option>
          <option value="outer-join">OUTER JOIN</option>
        </select><br>
          <span class="annotation">
          ※ LEFT-JOINを選択した場合、「paid_flg」がNULLにならないようにするため<br>
          「payment.csv」を軸として結合する
          </span>
        </p>
        <p style="font-weight: bold;">■ 出力データ項目の順序指定</p>
        <div class="item-order">
          {% for item in item_list %}
          <p>{{item}}<br>
            <select name={{item}} form="join">
              {% for order in order_list %}
              <option value={{order}}>{{order}}</option>
              {% endfor %}
            </select>
          </p>
          {% endfor %}
        </div>
        <button type="button" onclick="clickDefault()" style="margin: 10px 0;">デフォルトをセット</button>
        <button type="button" onclick="join_reset()" style="margin-left: 20px; margin-bottom: 20px;">選択をリセット</button>

        <div class="warning">
          <p>{{order_warning}}</p>
        </div>

        <form method="post" action="join" id="join" name="join">
          {% csrf_token %}
          <p><input type="submit" value="作成する"></p>
        </form>
      </div>
      <div class="col-6">
        <h5>結合データの出力ファイル</h5>
        {% for file in join_file_list %}
        <p>{{file}}</p>
        {% endfor %}
      </div>
    </div>

    <div class="row" id="t-create">
      <div class="col-12">
        <h3>3. モデルの構築・適用</h3>
        {% if join_file_list|length < 1 %}
        <p class="warning">モデル構築に使用する結合ファイルを作成してください</p>
        {% endif %}
      </div>
      <div class="col-6">
        <p>「予測対象」、「結合形式」、「説明変数」を設定し、モデルの構築・適用を実行します。<br>
          構築されたモデルデータのファイル名を「◎構築されたモデルデータ」、モデルの適用結果の出力ファイル名を「◎モデル適用結果」から確認することができます。
        </p>
        <p style="font-weight: bold;">■ 予測対象の設定</p>
        <p>予測対象：「paid_flg」</p>
        <p style="font-weight: bold;">■ 結合形式の選択</p>
        <p>結合形式：<select name="combined-format" form="model-create">
          <option value="inner">inner_join</option>
          <option value="left">left_join</option>
        </select></p>

        <div class="explanatory-var">
          <p style="font-weight: bold;">■ 説明変数の選択</p><br>
          {% for var in explanatory_variable_list %}
          <p>
            <input type="checkbox" name={{var}} form="model-create" value={{var}}> {{var}}
          </p>
          {% endfor %}
        </div>

        <div class="warning">
          <p>{{choice_var_warning}}</p>
        </div>

        <form method="post" action="model-create" id="model-create">
          {% csrf_token %}
          <p><input type="submit" value="構築・適用する"></p>
        </form>
      </div>
      <div class="col-6">
        <h5>構築されたモデルデータ</h5>
        {% for file in model_result %}
        <p>{{file}}</p>
        {% endfor %}
        <h5>モデル適用結果</h5>
        {% for file in score_file %}
        <p>{{file}}</p>
        {% endfor %}
      </div>
    </div>

    <div class="row" id="t-result">
      <div class="col-12">
        <h3>4. モデル適用結果</h3>
        <p>モデル適用結果を20分割されたヒストグラムにて表示します。<br>
          適用結果は「ダウンロード」ボタンをクリックすることでタウンロードすることができます。
        </p>
        {% if score_list_display|length < 1 %}
        <div class="warning">
          <p>モデルの構築・適用が完了するとヒストグラムが表示され、スコアをダウンロードすることができます</p>
        </div>
        {% else %}
        <div class="result-graph">
          <img src="{% url 'plot' %}" width=600 height=600>
          <p style="text-align: center;">roc_auc_score：<span style="background: #FFFF66;">{{roc_auc}}</span></p>
        </div>
        <a href="{% static 'output/score.csv' %}" , class="download-btn">ダウンロード</a>

        <div class="preview">
          <table class="table" border=1>
            <caption>プレビュー</caption>
            <tr>
              <th>id</th>
              <th>スコア</th>
            </tr>
            {% for score_display in score_list_display %}
            <tr>
              <td>{{ forloop.counter0 }}</td>
              <td>{{score_display}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
</div>
<footer>
  <p>(c)copy right</p>
</footer>
</body>
</html>

<script type="text/javascript">

    var dropZone = document.getElementById('drop-zone');
    var fileInput = document.getElementById('file-input');

    dropZone.addEventListener('dragover', function(e) {
        e.stopPropagation();
        e.preventDefault();
        this.style.background = '#e1e7f0';
    }, false);

    dropZone.addEventListener('dragleave', function(e) {
        e.stopPropagation();
        e.preventDefault();
        this.style.background = '#ffffff';
    }, false);

    dropZone.addEventListener('drop', function(e) {
        e.stopPropagation();
        e.preventDefault();
        this.style.background = '#ffffff'; //背景色を白に戻す
        var files = e.dataTransfer.files; //ドロップしたファイルを取得
        fileInput.files = files; //inputのvalueをドラッグしたファイルに置き換える。
        selectFile();
    }, false);

    function selectFile() {
    console.log(fileInput.value)
        if (fileInput.value === "") {
          document.getElementById("btnUpload").disabled = true;
        }
        else {
          document.getElementById("btnUpload").disabled = false;
        }
    }

    function join_reset() {
    	document.join.reset();
    }

    function clickDefault() {
    	document.join.customer_id.selectedIndex = 1;
    	document.join.contract_type.selectedIndex = 2;
    	document.join.sex.selectedIndex = 3;
    	document.join.age.selectedIndex = 4;
    	document.join.pref.selectedIndex = 5;
    	document.join.payway.selectedIndex = 6;
    	document.join.identified_doc.selectedIndex = 7;
    	document.join.career.selectedIndex = 8;
    	document.join.domain.selectedIndex = 9;
    	document.join.region.selectedIndex = 10;
    	document.join.entry_age.selectedIndex = 11;
    	document.join.selling_method.selectedIndex = 12;
    	document.join.campaign.selectedIndex = 13;
    	document.join.amount.selectedIndex = 14;
    	document.join.paid_flg.selectedIndex = 15;
    	document.join.customer_rank.selectedIndex = 16;
    	document.join.arrears_at.selectedIndex = 17;
    	document.join.arrears_count.selectedIndex = 18;
    	document.join.bill_updage_count.selectedIndex = 19;
    }

    $(".item-order").on("change", function() {

        var selectedValues = [];
        $(".item-order option:not([value='']):selected").each(function() {
            var $opt = $(this);
            selectedValues.push($opt.val());
        });

        $(".item-order option:not([value='']):not(:selected)").each(function() {
            var $opt = $(this);
            var val = $opt.val();

            // チェック対象のoptionのvalueが、selectedValuesに存在するものならdisabledにする
            // そうでないならdisabled解除
            if ($.inArray(val, selectedValues) >= 0 && val != "未選択") {
                $opt.hide();
            } else {
                $opt.show();
            }
        });
    });









</script>