header {
    padding: 10px;
    border-bottom: solid 1px gainsboro;
    background: ghostwhite;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    bottom: 0;
}

h3 {
  position: relative;
  padding: 1rem .5rem;
    margin-top: 50px;
    margin-bottom: 20px;
}

h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

h5:before {
	content:'◎';
}

.wrapper {
    min-height: 100vh;
    position: relative;
    padding-top: 60px;
    padding-bottom: 120px;
    box-sizing: border-box;
}

.overview {
    color: gray;
    background: #DDFFFF;
    width: 100%;
    padding: 10px;
}

.overview h2 {
    text-align: center;
    padding-bottom: 10px;
}

.contents p {
    margin-top: 60px;
    color: black;
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

.contents ol li {
    color: black;
    padding-bottom: 5px;
}

.algorithm-image img {
    width: 100%;
}

.algorithm-image p {
    text-align: left;
    font-size: small;
}

.beginning {
    margin-bottom: 30px;
}

.drop-zone {
    border: 1px solid;
    padding: 30px;
}

.item-order p {
    display: inline-block;
    width: 30%;
}

.annotation {
    font-size: small;
}

.warning {
    color: red;
}

.exp_var table {
    border: solid 1px;
    width: 100%;
}

.exp_var table th, td {
    border: 1px solid gray;
    text-align: center;
}

.result-graph {
    width: 70%;
    margin-left: 20%;
}

.result-graph p {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.download-btn{
    position: absolute;
    display: block;
    background: #ccffff;
    width: 40%;
    text-align: center;
    border: double 5px #4ec4d3;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
}

.preview {
    margin-top: 80px;
    width: 30%;
    margin-left: 35%;
}

.table-d {
    border-collapse: collapse;
    width: 100%;
}

.table-d caption {
    text-align: left;
    caption-side: top;
    color: black;
}

.table-d th {
    background: #ccffff;
}

.table-d th, .table td {
    text-align: center;
    border: 1px solid gray;
}
